/* main */
@font-face{
  font-family: "Heebo";
  font-weight: 400;
  src: url('../fonts/heebo-variablefont_wght-webfont.woff2') format('woff2'),
       url('../fonts/heebo-variablefont_wght-webfont.woff') format('woff');
}

@font-face{
  font-family: "Maitree";
  font-weight: 400;
  src: url('../fonts/maitree-regular-webfont.woff2') format('woff2'),
       url('../fonts/maitree-regular-webfont.woff') format('woff');
}

@font-face{
  font-family: "Prompt";
  font-weight: 800;
  src: url('../fonts/prompt-black-webfont.woff2') format('woff2'),
       url('../fonts/prompt-black-webfont.woff') format('woff');
}

header{
  background-image: linear-gradient(90deg, rgba(177,177,177,20%) 0%, rgba(122,122,122,20%) 43%, rgba(205,205,205,20%) 93%, rgba(237,237,237,20%) 100%);
}

p{
  font-family: "Heebo";
  color: hsl(0,0,30);
  line-height: 2;
}

h1{
  font-family: "Prompt";
  color: black;
  text-align: center;
}

h2{
  font-family: "Maitree";
  color: hsl(191, 27, 50);
}

a{
  font-family: "Heebo";
  color: hsl(170, 86, 28);
  text-decoration: none;
}

a:hover{
color: hsl(170, 86, 18);
text-decoration: underline;
}

svg{
  max-width: 10px;
}

.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: hsl(170, 86, 28);
  color: white;
  opacity: 0;
  text-decoration: none;
}
.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.skip-link:focus:hover{
 background-color: hsl(170, 86, 18);
}

ul{
  list-style-type: none;
}