/* main */
@font-face {
  font-family: "Heebo";
  font-weight: 400;
  src: url("../fonts/heebo-variablefont_wght-webfont.woff2") format("woff2"), url("../fonts/heebo-variablefont_wght-webfont.woff") format("woff");
}
@font-face {
  font-family: "Maitree";
  font-weight: 400;
  src: url("../fonts/maitree-regular-webfont.woff2") format("woff2"), url("../fonts/maitree-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Prompt";
  font-weight: 800;
  src: url("../fonts/prompt-black-webfont.woff2") format("woff2"), url("../fonts/prompt-black-webfont.woff") format("woff");
}
p {
  font-family: "Heebo";
  color: hsl(0deg, 0%, 30%);
}

h1 {
  font-family: "Prompt";
  color: black;
  text-align: center;
}

h2 {
  font-family: "Maitree";
  color: hsl(191deg, 27%, 50%);
}

a {
  font-family: "Heebo";
  color: hsl(170deg, 86%, 28%);
  text-decoration-color: white;
}

a:hover {
  text-decoration-color: hsl(170deg, 86%, 28%);
}

svg {
  max-width: 10px;
}
